<!DOCTYPE html>
<html>

<head>
  <title>Enquiry Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>
    html,
    body {
      min-height: 100%;
    }

    body,
    div,
    form,
    input,
    select,
    p {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #eee;
    }

    body {
      background: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHNjaG9vbCUyMGNyZWF0aXZpdHl8ZW58MHx8MHx8fDA%3D") no-repeat center;
      background-size: cover;
    }

    h1,
    h2 {
      text-transform: uppercase;
      font-weight: 400;
    }

    h2 {
      margin: 0 0 0 8px;
    }

    .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 25px;
      background: rgba(0, 0, 0, 0.5);
    }

    .left-part,
    form {
      padding: 25px;
    }

    .left-part {
      text-align: justify;
    }

    .fa-graduation-cap {
      font-size: 72px;
    }

    form {
      background: rgba(0, 0, 0, 0.7);
    }

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .info {
      display: flex;
      flex-direction: column;
    }

    input,
    select {
      padding: 5px;
      margin-bottom: 30px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #eee;
    }

    input::placeholder {
      color: #eee;
    }

    option:focus {
      border: none;
    }

    option {
      background: black;
      border: none;
    }

    .checkbox input {
      margin: 0 10px 0 0;
      vertical-align: middle;
    }

    .checkbox a {
      color: #26a9e0;
    }

    .checkbox a:hover {
      color: #85d6de;
    }

    .btn-item,
    button {
      padding: 10px 5px;
      margin-top: 20px;
      border-radius: 5px;
      border: none;
      background: #FE5D37;
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
    }

    .btn-item {
      display: inline-block;
      margin: 20px 5px 0;
    }

    button {
      width: 100%;
    }

    button:hover,
    .btn-item:hover {
      background: #85d6de;
    }

    @media (min-width: 568px) {

      html,
      body {
        height: 100%;
      }

      .main-block {
        flex-direction: row;
        height: calc(100% - 50px);
      }

      .left-part,
      form {
        flex: 1;
        height: auto;
      }
    }
  </style>
</head>

<body>
  <div class="main-block">
    <div class="left-part">
      <i class="fas fa-graduation-cap"></i>
      <h1>Welcome to Little Angels Public High Secondary School Pachore</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, illum mollitia? Maiores est enim veniam?
        Blanditiis iure repellendus ducimus quas, dignissimos atque id facilis qui debitis aut odit, numquam deserunt.
      </p>
      </br>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse cupiditate voluptatum eaque, dolorem inventore
        architecto nostrum. Inventore id recusandae, quos, nulla autem accusamus tenetur tempore blanditiis veniam
        aperiam harum quae!
      </p>
      <!-- <div class="btn-group">
          <a class="btn-item" href="https://www.w3docs.com/learn-html.html"
            >Learn HTML</a
          >
          <a class="btn-item" href="https://www.w3docs.com/quiz/#"
            >Select Quiz</a
          >
        </div> -->
    </div>

    <form id="enquiryForm" method="POST">
      <div class="title">
        <i class="fas fa-pencil-alt"></i>
        <h2>Admission Enquiry 24-25</h2>
      </div>
      <div class="info">
        <select name="academicYear" required>
          <option value="" selected>Select Year</option>
          <option value="2024-2025">2024-2025</option>
          <option value="2025-2026">2025-2026</option>
        </select>
        <select name="selectedClass" required>
          <option value="" selected>Select Class</option>
          <option value="1st">Class 1st</option>
          <option value="2nd">Class 2nd</option>
          <option value="3rd">Class 3rd</option>
          <option value="4th">Class 4th</option>
          <option value="5th">Class 5th</option>
          <option value="6th">Class 6th</option>
          <option value="7th">Class 7th</option>
          <option value="8th">Class 8th</option>
          <option value="9th">Class 9th</option>
          <option value="10th">Class 10th</option>
          <option value="11th">Class 11th</option>
          <option value="12th">Class 12th</option>
        </select>

        <select name="medium" required>
          <option value="" selected>Medium</option>
          <option value="English">English</option>
          <option value="Hindi">Hindi</option>
        </select>
        <input class="fname" type="text" name="parentName" placeholder="* Parent Name" required />
        <input class="fname" type="text" name="studentName" placeholder="Student Name" />
        <input type="email" name="parentEmail" placeholder="* Parent Email Id" required />
        <input type="text" name="mobileNumber" placeholder="Mobile Number" />
      </div>
      <div class="checkbox">
        <input type="checkbox" name="privacyPolicyAgreed" required />
        <span>I agree to the <a href="https://www.google.com/">Privacy Policy for M.P Public School</a></span>
      </div>
      <button type="submit">Enquiry Now</button>
    </form>
  </div>

  <script>
    $(document).ready(function () {
      $("#enquiryForm").submit(function (e) {
        e.preventDefault();

        var formData = $(this).serialize();
        console.log(formData); // Corrected typo

        $.ajax({
          url: 'http://localhost:4002/api/enquiries', // Adjust the API endpoint if necessary
          type: 'POST',
          data: formData,
          success: function (response) {
            alert('Enquiry submitted successfully!');
            // Optionally, redirect or clear the form here
            window.location.href = '/'; // Redirect to a success page or clear the form
          },
          error: function (xhr, status, error) {
            console.error("Error submitting enquiry:", error);
            alert('Failed to submit enquiry. Please try again later.');
          }
        });
      });
    });
  </script>
</body>

</html>
